<!doctype html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->

<html class="no-js" lang="en">

<!-- Mirrored from demo.highhay.com/vision/index-snowbg.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 04:22:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<!-- Page Title Here -->
	<title>TowTrueway</title>

	<!-- Page Description Here -->
	<meta name="description"
		content="A responsive coming soon template, un template HTML pour une page en cours de construction">

	<!-- Disable screen scaling-->
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

	<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

	<!-- Initializer -->
	<link rel="stylesheet" href="/vision/css/normalize.css">

	<!-- Web fonts and Web Icons -->
	<link rel="stylesheet" href="/vision/css/pageloader.css">
	<link rel="stylesheet" href="/vision/fonts/opensans/stylesheet.css">
	<link rel="stylesheet" href="/vision/fonts/geosans/stylesheet.css">
	<link rel="stylesheet" href="/vision/css/ionicons.min.css">

	<!-- Vendor CSS style -->
	<link rel="stylesheet" href="/vision/css/foundation.min.css">
	<link rel="stylesheet" href="/vision/js/vendor/jquery.fullPage.css">
	<link rel="stylesheet" href="/vision/js/vegas/vegas.min.css">

	<!-- Main CSS files -->
	<link rel="stylesheet" href="/vision/css/main.css">
	<!-- alt layout -->
	<!--        <link rel="stylesheet" href=".//vision/css/style-color1.css">-->
	<!-- responsiveness -->
	<link rel="stylesheet" href="/vision/css/main_responsive.css">

	<script src="/vision/js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="alt-bg">
	<!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Page Loader -->
	<div class="page-loader" id="page-loader">
		<div><i class="ion ion-load-c ion-spin"></i>
			<p>loading</p>
		</div>
	</div>

	<!-- BEGIN OF site header Menu -->
	<!-- Add "material" class for a material design style -->
	<header class="header-top">
		<a class="menu-icon clearfix">
			<div class="bars">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<div class="txt">Menu</div>
		</a>
		<ul class="menu clearfix">
			<li>
				<a href="#home">Home</a>
			</li>

			<li>
				<a href="#write-message">Contact</a>
			</li>
			<!-- Add other menu similar to "about" here : -->
			<!--<li>
                	<a href="#write-message">Write to us</a>
				</li>-->

		</ul>
	</header>
	<!-- END OF site header Menu-->


	<!-- BEGIN OF site navigation -->
	<nav class="page-nav">
		<div>
			<a href="#home"><i class="ion icon ion-ios-home"></i>
				<span class="title">Home page</span>
			</a>
		
			<a href="#write-message"><i class="ion icon ion-ios-email"></i>
				<span class="title">Contact</span>
			</a>
		</div>
	</nav>
	<!-- END OF site navigation -->

	<!-- BEGIN OF site cover -->
	<div class="page-cover">
		<!-- Cover Background -->
		<div class="cover-bg pos-abs full-size bg-img" data-image-src="/images/ttw.jfif"></div>

		<!-- BEGIN OF Slideshow Background -->
		<!--<div class="cover-bg pos-abs full-size slide-show">
				<i class='img' data-src='./img/bg-slide1.jpg'></i>
				<i class='img' data-src='./img/bg-slide2.jpg'></i>
				<i class='img' data-src='./img/bg-slide3.jpg'></i>
				<i class='img' data-src='./img/bg-slide4.jpg'></i>
			</div>-->
		<!-- END OF Slideshow Background -->

		<!--BEGIN OF Static video bg  - uncomment below to use Video as Background-->
		<!--<div id="container" class="video-container show-for-medium-up">
                <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted"
                       width="640" height="360">
                    <source src="vid/flower_loop.mp4" type="video/mp4">
                </video>
            </div>-->
		<!--END OF Static video bg-->

		<!--BEGIN OF Youtube video bg  - uncomment/comment below to use/or not Youtube Video as Background-->
		<!--<div class='youtube-container video-container show-for-medium-up'>
				<iframe frameborder="0"
				src="https://youtube.com/embed/wqeuYB7KMhY?autoplay=1&controls=0&showinfo=0&autohide=1">
				</iframe>
			</div>-->
		<!--END OF Youtube video bg-->

		<!-- Particles as background -->
		<div id="particles-js" class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgba(39, 42, 56, 0.69)"></div>


		<!-- Solid color as background -->
		<!--            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="#00B4C2"></div>-->

		<!-- Solid color as filter -->
		<!--            <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(45, 46, 51, 0.8)"></div>-->
		<!--            <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(45, 46, 51, 0.28)"></div>-->
		<!--            <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(255, 255, 255, 0.89)"></div>-->
		<!--            <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="#ffffff"></div>-->

	</div>
	<!--END OF site Cover -->

	<!-- Begin of timer pane -->
	<div class="pane-when " id="s-when">
		<div class="content clearfix">
			<!-- Header -->
			<header class="header">
				<p>Our product <br>Will be available in</p>
			</header>

			<!-- Clock -->
			<div class="clock clock-countdown">
				<div class="site-config" data-date="01/01/2022 00:00:00" data-date-timezone="+0"></div>
				<div class="big">
					<div class="digit">
						<span class="days">30</span>
						<span class="txt">days</span>
					</div>
				</div>


			
			</div>

		</div>
	</div>
	<!-- End of timer pane -->

	<!-- BEGIN OF site main content content here -->
	<main class="page-main" id="mainpage">

		<!-- Begin of home page -->
		<div class="section page-home page page-cent" data-section="home">

			<h3 class="s-title">Almost here</h3>
			<div class="s-fixed-content">
				<!-- Begin of Social links -->
			
				<!-- End of Social links -->
			</div>
			<!-- Content -->
			<section class="content">

				<header class="header">
					<!-- You can use text instead of logo, just uncomment below -->
					<!--<div class="h-left">
							<h2>New <strong>Company</strong></h2>
						</div>-->

					<div class="p-title">
						<img class="h-logo" src="/images/logonew.png" alt="Logo">
						<!--							<img class="h-logo" src="img/logo_dark.png" alt="Logo">-->
					</div>

					<div class="h-right">
						<h3>Tow True Way <br></h3>
						<h4 class="subhead"><a href="#register">Launching soon</a></h4>
					
					</div>

				</header>
			</section>

			<!-- Arrows scroll down/up -->
			<footer class="p-footer p-scrolldown">
				<a class="down btn">
					<div>
					</div>
				</a>
			</footer>
		</div>
		<!-- End of home page -->

		<!-- Begin of register page -->
		<!-- <div class="section page-register page page-cent" data-section="register">

			<h3 class="s-title">Register
			</h3>
			<section class="content">
				<header class="p-title">
					<h4 class="subhead">Register to get our latest news</h4>
				</header>
				<div>
					<form id="mail-subscription" class="form magic send_email_form" method="get"
						action="http://demo.highhay.com/vision/ajaxserver/serverfile.php">
						<p class="invite">Please, write your email below to stay in touch with us :</p>
						<div class="fields clearfix">
							<div class="input">
								<label for="reg-email">Email </label>
								<input id="reg-email" class="email_f" name="email" type="email" required
									placeholder="your@email.address" data-validation-type="email">
							</div>
							<div class="buttons">
								<button id="submit-email" class="button email_b" name="submit_email">Ok</button>
							</div>
						</div>

						<p class="email-ok invisible"><strong>Thank you</strong> for your subscription. We will inform
							you.</p>
					</form>
				</div>
			</section>
			<footer class="p-footer p-scrolldown">
				<a class="down btn">
					<div>
					</div>
				</a>
				<a class="up btn">
					<div>
					</div>
				</a>
			</footer>
		</div> -->
		<!-- End of register page -->

		<!-- Begin of about us page -->
		
		<!-- End of about us page -->

		<!-- Begin of Contact page   -->
	
		<!-- End of Contact page  -->

		<!-- Begin of Message page -->
		<div class="section page page-message page-cent" data-section="write-message" style="margin-bottom: 50px;">

			<h3 class="s-title">Write to us
			</h3>
			<div>
				<section class="content">
					<!-- Begin Of Page SubSction -->
					<p>Need help or just want to send us a message?</p>
					<div class="page-block c-right v-zoomIn">
						<div class="wrapper">
							<div>
								<form class="message form send_message_form" method="get"
									action="/landing-page/submit">
									<div class="fields clearfix">
										<div class="input">
											<label for="mes-name">Name </label>
											<input id="mes-name" name="name" type="text" placeholder="Your Name"
												required>
										</div>
										
									</div>
									<div class="fields clearfix">
										<div class="input">
											<label for="mes-email">Mobile  </label>
											<input id="mes-number" type="number" placeholder=" Number" name="number"
												required>
										</div>
									</div>
									<div class="fields clearfix no-border">
										<label for="mes-text">Message </label>
										<textarea id="mes-text" placeholder="Message ..." name="message"
											required></textarea>

										<div>
											<p class="message-ok invisible">Your message has been sent, thank you.</p>
										</div>
                                        <div class="buttons">
											<button id="submit-message" class="button email_b"
												name="submit_message">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- End Of Page SubSction -->
				</section>

			</div>

			<!-- Arrows scroll down/up -->
			<footer class="p-footer p-scrolldown">
				<a class="up btn">
					<div>
					</div>
				</a>
			</footer>
		</div>
		<!-- End of Message page -->

	</main>

	<!-- END OF site main content content here -->



	<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

	<!-- All Javascript plugins goes here -->
	<!--		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
	<script src="/vision/js/vendor/jquery-1.11.2.min.js"></script>
	<!-- All vendor scripts -->
	<script src="/vision/js/vendor/all.js"></script>
	<script src="/vision/js/particlejs/particles.min.js"></script>
	<script src="/vision/js/particlejs/particles-init-snow.js"></script>

	<!-- Detailed vendor scripts -->
	<!--<script src=".//vision/js/vendor/jquery.fullPage.min.js"></script>
        <script src=".//vision/js/vendor/jquery.slimscroll.min.js"></script>
        <script src=".//vision/js/vendor/jquery.knob.min.js"></script>
        <script src=".//vision/js/vegas/vegas.min.js"></script>
        <script src=".//vision/js/jquery.maximage.js"></script>
        <script src=".//vision/js/okvideo.min.js"></script>-->

	<!-- Downcount JS -->
	<script src="/vision/js/jquery.downCount.js"></script>

	<!-- Form script -->
	<script src="/vision/js/form_script.js"></script>

	<!-- Javascript main files -->
	<script src="/vision/js/main.js"></script>


	<!-- Google Analytics: Uncomment and change UA-XXXXX-X to be your site"s ID. -->
	<!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src="//www.google-analytics.com/analytics.js";
            r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
            ga("create","UA-XXXXX-X");ga("send","pageview");
        </script>-->
</body>

<!-- Mirrored from demo.highhay.com/vision/index-snowbg.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Jan 2022 04:22:26 GMT -->

</html>